[Unit]
Description="EDPM iscsid container"

[Container]
Exec=kolla_start
Image=iscsid.image
ContainerName=edpm_iscsid
Network=host
AddCapability="CAP_NET_ADMIN"
AddCapability="CAP_NET_BIND_SERVICE"
AddCapability="CAP_NET_BROADCAST"
AddCapability="CAP_NET_RAW"
AddCapability="CAP_SYS_NICE"
AddCapability="CAP_SYS_RESOURCE"
AddCapability="CAP_IPC_LOCK"
Mount=type=bind,source=/etc/hosts,destination=/etc/hosts,ro=true
Mount=type=bind,source=/etc/localtime,destination=/etc/localtime,ro=true
Mount=type=bind,source=/etc/pki/ca-trust/extracted,destination=/etc/pki/ca-trust/extracted,ro=true
Mount=type=bind,source=/etc/pki/ca-trust/source/anchors,destination=/etc/pki/ca-trust/source/anchors,ro=true
Mount=type=bind,source=/etc/pki/tls/certs/ca-bundle.crt,destination=/etc/pki/tls/certs/ca-bundle.crt,ro=true
Mount=type=bind,source=/etc/pki/tls/cert.pem,destination=/etc/pki/tls/cert.pem,ro=true
Mount=type=bind,source=/dev/log,destination=/dev/log
Mount=type=bind,source=/var/lib/kolla/config_files/iscsid.json,destination=/var/lib/kolla/config_files/config.json,ro=true
Mount=type=bind,source=/dev,destination=/dev
Mount=type=bind,source=/run,destination=/run
Mount=type=bind,source=/sys,destination=/sys
Mount=type=bind,source=/lib/modules,destination=/lib/modules,ro=true
Mount=type=bind,source=/etc/iscsi,destination=/etc/iscsi,relabel=shared
Mount=type=bind,source=/etc/target,destination=/etc/target,relabel=shared
Mount=type=bind,source=/var/lib/iscsi,destination=/var/lib/iscsi,relabel=shared
Environment=KOLLA_CONFIG_STRATEGY=COPY_ALWAYS

[Install]
WantedBy=multi-user.target
